Repository santosr2/conditional-paths-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typecheck, test

prettier:
  name: prettier
  entry: pnpm exec prettier --check
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm exec eslint --max-warnings=0
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

test:
  name: test
  entry: pnpm exec vitest --run
  language: system
  pass_filenames: false

perf: optimize bundle size by 50%
  dist/file.d.ts
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/main.d.ts
  dist/main.d.ts.map
  dist/package.json
  dist/sourcemap-register.cjs
Due: prettier, eslint, typecheck, test

perf: optimize bundle size by 50% (#5)
  dist/file.d.ts
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/main.d.ts
  dist/main.d.ts.map
  dist/package.json
  dist/sourcemap-register.cjs
Due: prettier, eslint, typecheck, test

ci: modernize GitHub workflows
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/pull-request-verification.yml
  .github/workflows/release.yml
Due: prettier

ci: modernize GitHub workflows (#6)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/pull-request-verification.yml
  .github/workflows/release.yml
Due: prettier

docs: add community health files
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: prettier

docs: add community health files (#7)
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: prettier

chore: remove obsolete files and configurations
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/filters.yml
  .npmrc
  .vscode/launch.json
  jest.config.js
  package-lock.json
  pnpm-lock.yaml
  tsconfig.test.json
Due: prettier, eslint, test

chore: remove obsolete files and configurations (#8)
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/filters.yml
  .npmrc
  .vscode/launch.json
  jest.config.js
  package-lock.json
  pnpm-lock.yaml
  tsconfig.test.json
Due: prettier, eslint, test

fix: skip wrong ignored dist/lib folder
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  action.yml
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
  dist/main.d.ts.map
  dist/sourcemap-register.cjs
  package.json
  pnpm-lock.yaml
  src/lib/action.ts
Due: prettier, eslint, typecheck, test

fix: skip wrong ignored dist/lib folder (#9)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  action.yml
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
  dist/main.d.ts.map
  dist/sourcemap-register.cjs
  package.json
  pnpm-lock.yaml
  src/lib/action.ts
Due: prettier, eslint, typecheck, test

fix: skip wrong ignored dist/lib folder
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
Due: prettier, eslint, typecheck, test

chore: update dist
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
Due: prettier, eslint, typecheck, test

feat: normalize package.json with proper main entry point
  .gitignore
  .pre-commit-config.yaml
  README.md
  package.json
Due: prettier

chore: enhance ignore patterns and file attributes
  .gitattributes
Due: none

feat: enhance ignore patterns and file attributes (#13)
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  README.md
  package.json
Due: prettier

feat: add pre-commit to mise toolchain
  .mise.toml
  mise.toml
Due: none

fix: exclude scripts from coverage and fix linting
  eslint.config.mjs
  vitest.config.ts
Due: prettier, eslint, typecheck, test

feat: enhance CI/CD workflows with DevSecOps
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/license.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: prettier

feat: devOps and toolchain improvements (#14)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/license.yml
  .github/workflows/release.yml
  .mise.toml
  .pre-commit-config.yaml
  eslint.config.mjs
  mise.toml
  vitest.config.ts
Due: prettier, eslint, typecheck, test

feat: implement CycloneDX SBOM generation
  .pre-commit-config.yaml
  package.json
  scripts/generate-sbom.js
Due: prettier, eslint, test

feat!: add SPDX license headers to all source files
  .license-header.txt
  src/file.ts
  src/lib/action.ts
  src/lib/filter.ts
  src/lib/git.ts
  src/lib/input-validation.ts
  src/lib/list-format/csv-escape.ts
  src/lib/list-format/shell-escape.ts
Due: prettier, eslint, typecheck, test

feat: comprehensive security scanning setup
  .github/dependabot.yml
  .gitleaks.toml
Due: prettier

feat: configure release-please automation
  .release-please-manifest.json
  release-please-config.json
Due: prettier

feat: security, SBOM, and compliance features (#16)
  .github/dependabot.yml
  .gitleaks.toml
  .license-header.txt
  .pre-commit-config.yaml
  .release-please-manifest.json
  package.json
  release-please-config.json
  scripts/generate-sbom.js
  src/file.ts
  src/lib/action.ts
  src/lib/filter.ts
  src/lib/git.ts
  src/lib/input-validation.ts
  src/lib/list-format/csv-escape.ts
  src/lib/list-format/shell-escape.ts
Due: prettier, eslint, typecheck, test

chore: update and normalize dependencies
  pnpm-lock.yaml
Due: prettier

docs: enhance documentation with DevSecOps features
  CHANGELOG.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
  SECURITY.md
Due: prettier

feat: add comprehensive DevSecOps validation script
  scripts/validate-devsecops.sh
Due: none

docs: add comprehensive usage examples
  docs/examples/matrix-usage.yml
  docs/examples/monorepo-usage.yml
  docs/examples/simple-usage.yml
  examples/events/pull-request.json
  examples/monorepo/filters.yml
  examples/simple/filters.yml
Due: prettier

chore: remove .vscode skips from .gitignore
  .gitignore
Due: none

feat: dx improvements (#31)
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
  SECURITY.md
  docs/examples/matrix-usage.yml
  docs/examples/monorepo-usage.yml
  docs/examples/simple-usage.yml
  examples/events/pull-request.json
  examples/monorepo/filters.yml
  examples/simple/filters.yml
  pnpm-lock.yaml
  scripts/validate-devsecops.sh
Due: prettier

chore: update distribution bundle
  .pre-commit-config.yaml
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
  dist/main.d.ts
  dist/main.d.ts.map
  dist/sbom.json
  src/lib/action.ts
  src/lib/filter.ts
  src/lib/git.ts
  src/lib/input-validation.ts
  src/lib/list-format/csv-escape.ts
  src/lib/list-format/shell-escape.ts
Due: prettier, eslint, typecheck, test

test: improve tests and examples
  .pre-commit-config.yaml
  __tests__/action.test.ts
  __tests__/benchmark.bench.ts
  __tests__/e2e.test.ts
  __tests__/filter.test.ts
  __tests__/input-validation.test.ts
  __tests__/integration.test.ts
  __tests__/main.test.ts
  dist/sbom.json
  examples/README.md
  examples/fixtures/sample-repo-structure.txt
  tsconfig.json
Due: prettier, eslint, typecheck, test

feat: update tests and improve tests (#32)
  .pre-commit-config.yaml
  __tests__/action.test.ts
  __tests__/benchmark.bench.ts
  __tests__/e2e.test.ts
  __tests__/filter.test.ts
  __tests__/input-validation.test.ts
  __tests__/integration.test.ts
  __tests__/main.test.ts
  dist/file.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/lib/action.d.ts
  dist/lib/action.d.ts.map
  dist/lib/filter.d.ts
  dist/lib/filter.d.ts.map
  dist/lib/git.d.ts
  dist/lib/git.d.ts.map
  dist/lib/input-validation.d.ts
  dist/lib/input-validation.d.ts.map
  dist/lib/list-format/csv-escape.d.ts
  dist/lib/list-format/csv-escape.d.ts.map
  dist/lib/list-format/shell-escape.d.ts
  dist/lib/list-format/shell-escape.d.ts.map
  dist/main.d.ts
  dist/main.d.ts.map
  dist/sbom.json
  examples/README.md
  examples/fixtures/sample-repo-structure.txt
  src/lib/action.ts
  src/lib/filter.ts
  src/lib/git.ts
  src/lib/input-validation.ts
  src/lib/list-format/csv-escape.ts
  src/lib/list-format/shell-escape.ts
  tsconfig.json
Due: prettier, eslint, typecheck, test

docs!: modernize documentation with dual Node.js compatibility and community infrastructure
  .github/workflows/ci.yml
  .github/workflows/examples/test-action-locally.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
  SECURITY.md
  __tests__/benchmark.bench.ts
  action.yml
  dist/index.js
  dist/index.js.map
  dist/sbom.json
  examples/act-commands.md
  examples/basic-usage.md
  mise.toml
  package.json
  tsconfig.json
Due: prettier, eslint, typecheck, test

fix: codeql and ci workflows
  .github/workflows/codeql.yml
  __tests__/e2e.test.ts
Due: prettier, eslint, typecheck, test

chore: use skywalking-eyes for license header check
  .github/workflows/ci.yml
  .github/workflows/license.yml
  .licenserc.yaml
  .pre-commit-config.yaml
  mise.toml
Due: prettier

fix: pr title validation
  .github/workflows/pr-validation.yml
Due: prettier

Path conditions:
  prettier: any of: \.(ts|js|json|yaml|yml|md)$
  eslint: any of: \.(ts|js|mjs)$
  typecheck: any of: \.ts$
  test: any of: \.(ts|js)$
